# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/

# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Local env files
.env
.env.local
.env*.local
**/.env
**/.env.local

# TypeScript build info
*.tsbuildinfo
